.col-md-12
  %ul#my-tab.nav.nav-tabs{"data-tabs" => "tabs"}
    %li.active
      %a{"data-toggle" => "tab", href: "#sbox"} Sbox proccesing
    %li
      %a{"data-toggle" => "tab", href: "#cert"} Certificates generation
  #my-tab.tab-content
    #sbox.tab-pane.active 
      %table.table
        %thead
          %tr.well
            %th.col-sm-4 Sbox
            %th.col-sm-4 Date
            %th.col-sm-4
              = link_to 'New',  new_task_path, class: 'btn btn-default'
        %tbody
          - recent_tasks.reverse.each { |t|
          %tr
            %td 
              = link_to t.sbox, task_path(t)
            %td
              = t.created_at
              - }
            %td
    #cert.tab-pane 
      %table.table
        %thead
          %tr.well
            %th.col-sm-4 Certificate
            %th.col-sm-4 Date
            %th.col-sm-4
              = link_to 'New',  new_certificate_path, class: 'btn btn-default'
        %tbody
          - recent_tasks.reverse.each { |t|
          %tr
            %td 
              = link_to t.sbox, task_path(t)
            %td
              = t.created_at
              - }
            %td 

  
